[project]
	description = JavaScript implementations of various DataValues and associated parsers and formatters
[access "refs/*"]
	owner = group user/Tobi Gritschacher (tobijat)
[access "refs/for/refs/*"]
	read = group user/Tobi Gritschacher (tobijat)
	push = group user/Tobi Gritschacher (tobijat)
	label-Code-Review = -2..+2 group user/Tobi Gritschacher (tobijat)
	label-Verified = -1..+1 group user/Tobi Gritschacher (tobijat)
	rebase = group user/Tobi Gritschacher (tobijat)
	removeReviewer = group user/Tobi Gritschacher (tobijat)
	submit = group user/Tobi Gritschacher (tobijat)
[access "refs/heads/*"]
	read = group user/Tobi Gritschacher (tobijat)
	create = group user/Tobi Gritschacher (tobijat)
	push = +force group user/Tobi Gritschacher (tobijat)
	pushMerge = group user/Tobi Gritschacher (tobijat)
[access "refs/tags/*"]
	push = +force group user/Tobi Gritschacher (tobijat)
	pushTag = group user/Tobi Gritschacher (tobijat)
	pushSignedTag = group user/Tobi Gritschacher (tobijat)
